* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(55, 55, 242);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    background-color: red;
    color: white !important;
    margin: 2px;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none; 
}

/* PAGINA INICIO */
/* seccion 1 */
.lorem-container {
    background-color: red;
    color: white;
    margin-top: 80px;
    padding-left: 15px;
}

.escudo img{
    width: 80%;
    height: 80%;
    margin-top: 80px;
    /* margin-left: 30px; */
}

.whatsapp {
    width: 18vw;
    height: 18vh;
    border-radius: 15px;
    float: right;
    background-color: green; 
}

.fixed-bottom {
    margin-right: 100px;
}

/* seccion 2 */
.contenedor {
    background-color: rgb(55, 55, 242);
    width: 350px;
    height: 180px;
    color: yellow;
    border: 2px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.olivol {
    width: 120px;
    height: 90px;
    margin-left: 40px;
}

.marne {
    width:120px;
    height: 90px;
}

/* seccion 3 */
.jugadores img {
    width: 100%;
    height: 100%;
}

.jugadores2 {
    width: 100%;
    height: 100%;
}

.jugadores-contenedor {
    width: 100vw;
}

/* PAGINA EL CLUB */
.equipo {
    margin-left: 150px;
}

/* footer */
.pie-pagina {
    background-color: rgb(55, 55, 242);
    color: white;
    width: 100vw;
    height: 120px;
    text-align: center;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}


footer ul li {
    display: inline-block;  
}

.icons {
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    color: white;
    list-style-type: none;
}

/* media queries */
@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }
}   




